<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.cjs" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="IISNodeLogs" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^iisnode" />
        </rule>
        <rule name="SiteReleaseManager" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <serverVariables>
            <set name="HTTP_X_IISNODE_AUTH_USER" value="{AUTH_USER}" replace="true" />
          </serverVariables>
          <action type="Rewrite" url="index.cjs" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="629145600" />
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
          <add segment="runtime" />
          <add segment="server" />
          <add segment="scripts" />
          <add segment="storage" />
          <add segment="client" />
          <add segment="sharepoint-deployer" />
          <add segment=".env" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
